@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.mainSectionWrapper {
  background-image: linear-gradient(to bottom, #161616, #282828);
}
.mainSectionWrapper .mainSection {
  max-width: 1300px;
  margin: 0 auto;
}
@media (min-width: 1100px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection {
    max-width: calc(1000px + 300 * (100vw - 1100px) / 500);
  }
}
@media (min-width: 767px) and (max-width: 1100px) {
  .mainSectionWrapper .mainSection {
    max-width: calc(715px + 285 * (100vw - 767px) / 333);
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .mainSectionWrapper .mainSection {
    max-width: calc(345px + 370 * (100vw - 375px) / 392);
  }
}
.mainSectionWrapper .mainSection__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.mainSectionWrapper .mainSection__header-firstBlock {
  display: flex;
  align-items: center;
  gap: 70px;
}
.mainSectionWrapper .mainSection__header-firstBlock-logo {
  padding: 17px 0;
}
@media screen and (max-width: 767px) {
  .mainSectionWrapper .mainSection__header-firstBlock-linksWrap {
    display: none;
  }
}
.mainSectionWrapper .mainSection__header-firstBlock-linksWrap a {
  padding: 27px 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  cursor: pointer;
  transition: 0.1s;
}
.mainSectionWrapper .mainSection__header-firstBlock-linksWrap a:hover {
  background-image: linear-gradient(to top right, rgba(202, 62, 197, 0.8941176471), #ea5198, #f2a829);
}
.mainSectionWrapper .mainSection__header-lastBlock {
  display: none;
  gap: 12px;
}
@media screen and (max-width: 767px) {
  .mainSectionWrapper .mainSection__header-lastBlock {
    display: flex;
  }
}
.mainSectionWrapper .mainSection__header-lastBlock-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 18.75px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.mainSectionWrapper .mainSection__content {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  margin-top: 35px;
  padding: 25px 0 0 0;
  gap: 25px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1100px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__content {
    padding: calc(15px + 10 * (100vw - 1100px) / 500) 0 0 0;
    gap: calc(10px + 15 * (100vw - 1100px) / 500);
  }
}
@media (min-width: 767px) and (max-width: 1100px) {
  .mainSectionWrapper .mainSection__content {
    padding: calc(9px + 6 * (100vw - 767px) / 333) 0 0 0;
    gap: calc(9px + 1 * (100vw - 767px) / 333);
  }
}
.mainSectionWrapper .mainSection__content__image {
  position: relative;
}
.mainSectionWrapper .mainSection__content__image-desktop {
  width: 100%;
}
@media (max-width: 767px) {
  .mainSectionWrapper .mainSection__content__image-desktop {
    display: none;
  }
}
.mainSectionWrapper .mainSection__content__image-mob {
  width: 100%;
  display: none;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .mainSectionWrapper .mainSection__content__image-mob {
    display: flex;
  }
}
.mainSectionWrapper .mainSection__content__image__controls {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 55px;
  left: 0;
  bottom: 0;
  padding: 13px 20px;
  background-color: #181818;
}
.mainSectionWrapper .mainSection__content__image__controls-count {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
}
.mainSectionWrapper .mainSection__content__image__controls__arrows {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.mainSectionWrapper .mainSection__content__image__controls__arrows-left img {
  transform: rotate(180deg);
  border: 2px solid white;
  padding: 15px 10px;
  transition: 0.2s;
  width: 15px;
  height: 6px;
}
.mainSectionWrapper .mainSection__content__image__controls__arrows-left img:hover {
  background-color: #5f5f5f;
  border: 2px solid #5f5f5f;
}
@media (min-width: 1100px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__content__image__controls__arrows-left img {
    padding: calc(10px + 5 * (100vw - 1100px) / 500) calc(7px + 3 * (100vw - 1100px) / 500);
  }
}
.mainSectionWrapper .mainSection__content__image__controls__arrows-right img {
  border: 2px solid white;
  padding: 15px 10px;
  transition: 0.2s;
  width: 15px;
  height: 6px;
}
.mainSectionWrapper .mainSection__content__image__controls__arrows-right img:hover {
  background-color: #5f5f5f;
  border: 2px solid #5f5f5f;
}
@media (min-width: 1100px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__content__image__controls__arrows-right img {
    padding: calc(10px + 5 * (100vw - 1100px) / 500) calc(7px + 3 * (100vw - 1100px) / 500);
  }
}
.mainSectionWrapper .mainSection__content__desc {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 45px 0;
  border-top: 4px solid white;
}
@media (min-width: 1100px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__content__desc {
    padding: calc(25px + 20 * (100vw - 1100px) / 500) 0;
  }
}
@media (min-width: 767px) and (max-width: 1100px) {
  .mainSectionWrapper .mainSection__content__desc {
    padding: calc(20px + 5 * (100vw - 767px) / 333) 0;
  }
}
@media (max-width: 767px) {
  .mainSectionWrapper .mainSection__content__desc {
    gap: 45px;
    flex-direction: column;
  }
}
.mainSectionWrapper .mainSection__content__desc-title {
  max-width: 644px;
  position: relative;
}
@media (min-width: 1100px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__content__desc-title {
    max-width: calc(470px + 174 * (100vw - 1100px) / 500);
  }
}
@media (min-width: 767px) and (max-width: 1100px) {
  .mainSectionWrapper .mainSection__content__desc-title {
    max-width: calc(210px + 260 * (100vw - 767px) / 333);
  }
}
.mainSectionWrapper .mainSection__content__desc-title-tit {
  font-weight: 900;
  color: #ffffff;
  font-family: "Orbitron";
  font-size: 70px;
  line-height: 87px;
  position: relative;
  z-index: 1;
}
.mainSectionWrapper .mainSection__content__desc-title-tit span {
  background: linear-gradient(to top right, rgba(105, 33, 103, 0.8941176471), #9e3867, #a7741e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1100px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__content__desc-title-tit {
    font-size: calc(62px + 8 * (100vw - 1100px) / 500);
    line-height: calc(70px + 17 * (100vw - 1100px) / 500);
  }
}
@media (min-width: 767px) and (max-width: 1100px) {
  .mainSectionWrapper .mainSection__content__desc-title-tit {
    font-size: calc(30px + 32 * (100vw - 767px) / 333);
    line-height: calc(36px + 34 * (100vw - 767px) / 333);
  }
}
@media (max-width: 767px) {
  .mainSectionWrapper .mainSection__content__desc-title-tit {
    font-size: 64px;
    line-height: 80px;
  }
}
.mainSectionWrapper .mainSection__content__desc-title-around {
  position: absolute;
  width: 134px;
  aspect-ratio: 1;
  background-image: linear-gradient(to top right, rgba(202, 62, 197, 0.8941176471), #ea5198, #f2a829);
  border-radius: 50%;
  left: 0px;
  top: 41%;
  transform: translateY(-50%);
}
@media (min-width: 1100px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__content__desc-title-around {
    top: calc(33% + 8 * (100vw - 767px) / 333);
  }
}
@media (min-width: 767px) and (max-width: 1100px) {
  .mainSectionWrapper .mainSection__content__desc-title-around {
    width: calc(95px + 39 * (100vw - 767px) / 333);
  }
}
@media (min-width: 375px) and (max-width: 1100px) {
  .mainSectionWrapper .mainSection__content__desc-title-around {
    top: calc(24% + 9 * (100vw - 767px) / 333);
  }
}
.mainSectionWrapper .mainSection__content__desc-more {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media (min-width: 1100px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__content__desc-more {
    max-width: calc(470px + 60 * (100vw - 1100px) / 500);
    gap: calc(25px + 47 * (100vw - 1100px) / 500);
  }
}
@media (min-width: 767px) and (max-width: 1100px) {
  .mainSectionWrapper .mainSection__content__desc-more {
    max-width: calc(440px + 30 * (100vw - 767px) / 333);
    gap: calc(20px + 5 * (100vw - 767px) / 333);
  }
}
.mainSectionWrapper .mainSection__content__desc-more p {
  font-size: 16px;
  color: #aaaaaa;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-align: justify;
  margin: 0;
}
@media (min-width: 767px) and (max-width: 1100px) {
  .mainSectionWrapper .mainSection__content__desc-more p {
    line-height: calc(20px + 1 * (100vw - 767px) / 333);
  }
}
@media (max-width: 767px) {
  .mainSectionWrapper .mainSection__content__desc-more p {
    text-align: left;
  }
}
.mainSectionWrapper .mainSection__content__desc-more-btnWrap {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.mainSectionWrapper .mainSection__content__desc-more-btnWrap-text {
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-align: left;
}
.mainSectionWrapper .mainSection__content__desc-more-btnWrap-iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 2px solid white;
}
.mainSectionWrapper .newsSectionWrapper .newsSection {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 0 175px 110px;
  border-bottom: 4px solid white;
}
@media screen and (max-width: 940px) {
  .mainSectionWrapper .newsSectionWrapper .newsSection {
    padding-left: calc(40px + 70 * (100vw - 940px) / 160);
    padding-top: calc(45px + 5 * (100vw - 940px) / 160);
  }
}
.mainSectionWrapper .newsSectionWrapper .newsSection__title {
  font-family: Orbitron;
  font-size: 42px;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (max-width: 940px) {
  .mainSectionWrapper .newsSectionWrapper .newsSection__title {
    padding-left: 30px;
  }
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}
@media screen and (max-width: 940px) {
  .mainSectionWrapper .newsSectionWrapper .newsSection__content {
    flex-direction: column;
  }
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content-btn {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  align-self: flex-end;
}
@media screen and (max-width: 940px) {
  .mainSectionWrapper .newsSectionWrapper .newsSection__content-btn {
    order: 2;
    align-self: center;
  }
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc {
  max-width: 530px;
}
@media screen and (max-width: 940px) {
  .mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc {
    align-self: center;
    padding-bottom: 75px;
  }
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc__image {
  max-width: 530px;
  height: 185px;
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc__image-img {
  width: 100%;
  height: 100%;
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc-date {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #aaaaaa;
  padding-top: 35px;
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc-date:first-of-type {
  padding-top: 25px;
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 25px 0 35px 0;
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc__controls {
  gap: 111px;
  display: flex;
  color: #ffffff;
  padding-top: 67px;
}
@media screen and (max-width: 940px) {
  .mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc__controls {
    justify-content: space-between;
  }
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc__controls-count {
  font-family: Orbitron;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.06px;
  text-align: left;
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc__controls__arrows {
  gap: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc__controls__arrows-left-leftImg {
  transform: rotate(180deg);
}
.mainSectionWrapper .newsSectionWrapper .newsSection__content__newsDesc__controls__arrows-right {
  width: 45px;
  height: 16.04px;
}
.mainSectionWrapper .blogSectionWrapper .blogSection {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 0 100px 110px;
}
@media (min-width: 375px) and (max-width: 940px) {
  .mainSectionWrapper .blogSectionWrapper .blogSection {
    padding: 50px 0 100px 0;
  }
}
.mainSectionWrapper .blogSectionWrapper .blogSection__title {
  font-family: Orbitron;
  font-size: 42px;
  font-weight: 600;
  line-height: 52px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 65px;
}
@media (min-width: 375px) and (max-width: 940px) {
  .mainSectionWrapper .blogSectionWrapper .blogSection__title {
    padding-left: 30px;
  }
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__cards__card {
  display: flex;
  gap: 75px;
  margin-bottom: 30px;
}
@media (min-width: 375px) and (max-width: 940px) {
  .mainSectionWrapper .blogSectionWrapper .blogSection__material__cards__card {
    flex-direction: column;
    gap: 25px;
  }
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__cards__card__image {
  max-width: 420px;
  height: -moz-fit-content;
  height: fit-content;
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__cards__card__image-img {
  width: 100%;
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__cards__card__more {
  width: 585px;
}
@media (min-width: 375px) and (max-width: 940px) {
  .mainSectionWrapper .blogSectionWrapper .blogSection__material__cards__card__more {
    width: calc(345px + 240 * (100vw - 375px) / 565);
  }
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__cards__card__more-date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 43px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  background-color: #ffffff;
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__cards__card__more-title {
  max-width: 585px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 25px 0 20px 0;
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__cards__card__more-desc {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #aaaaaa;
  max-width: 475px;
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__controlsWrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media (min-width: 375px) and (max-width: 940px) {
  .mainSectionWrapper .blogSectionWrapper .blogSection__material__controlsWrap {
    flex-direction: column;
    align-items: center;
    gap: 75px;
  }
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__controlsWrap__controls {
  display: flex;
  gap: 165px;
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__controlsWrap__controls-count {
  font-family: Orbitron;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  width: 60px;
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__controlsWrap__controls__arrows {
  gap: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__controlsWrap__controls__arrows-left-leftImg {
  transform: rotate(180deg);
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__controlsWrap__controls__arrows-right {
  width: 45px;
  height: 16px;
}
.mainSectionWrapper .blogSectionWrapper .blogSection__material__controlsWrap-btn {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  align-self: flex-end;
}
.mainSectionWrapper .mainSection__footer {
  background-color: #303030;
}
.mainSectionWrapper .mainSection__footer__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 25px 0 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1100px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__footer__wrapper {
    max-width: calc(1000px + 300 * (100vw - 1100px) / 500);
  }
}
@media (min-width: 767px) and (max-width: 1100px) {
  .mainSectionWrapper .mainSection__footer__wrapper {
    max-width: calc(715px + 285 * (100vw - 767px) / 333);
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .mainSectionWrapper .mainSection__footer__wrapper {
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
    padding: 36px 0 36px 25px;
  }
}
.mainSectionWrapper .mainSection__footer__wrapper__logoAndLinks {
  display: flex;
  align-items: center;
  gap: 118px;
}
@media (min-width: 767px) and (max-width: 940px) {
  .mainSectionWrapper .mainSection__footer__wrapper__logoAndLinks {
    gap: calc(50px + 68 * (100vw - 767px) / 173);
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .mainSectionWrapper .mainSection__footer__wrapper__logoAndLinks {
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
    max-width: 345px;
  }
}
.mainSectionWrapper .mainSection__footer__wrapper__logoAndLinks-links {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
@media (min-width: 767px) and (max-width: 940px) {
  .mainSectionWrapper .mainSection__footer__wrapper__logoAndLinks-links {
    gap: calc(25px + 15 * (100vw - 767px) / 173);
  }
}
.mainSectionWrapper .mainSection__footer__wrapper__logoAndLinks-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
}
.mainSectionWrapper .mainSection__footer__wrapper__social {
  display: flex;
  gap: 35px;
}
@media (min-width: 767px) and (max-width: 940px) {
  .mainSectionWrapper .mainSection__footer__wrapper__social {
    gap: calc(25px + 10 * (100vw - 767px) / 173);
  }
}/*# sourceMappingURL=style.css.map */