@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

// * {
//   border: 3px solid rgb(199, 36, 36);
// }

body {
  margin: 0;
}

.mainSectionWrapper {
  background-image: linear-gradient(to bottom, #161616, #282828);
  .mainSection {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 175px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      &-firstBlock {
        display: flex;
        align-items: center;
        gap: 70px;

        &-logo {
          padding: 17px 0;
        }

        &-linksWrap {
          @media screen and (max-width: 767px) {
            display: none;
          }
          a {
            padding: 27px 15px;
            text-transform: uppercase;
            text-decoration: none;
            color: #ffffff;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            cursor: pointer;
            transition: 0.1s;
          }
          a:hover {
            background-image: linear-gradient(
              to top right,
              #ca3ec5e4,
              #ea5198,
              #f2a829
            );
          }
        }
      }
      &-lastBlock {
        display: none;
        gap: 12px;

        @media screen and (max-width: 767px) {
          display: flex;
        }
        &-title {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 900;
          line-height: 18.75px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
    }
    &__content {
      border-top: 4px solid white;
      border-bottom: 4px solid white;
      margin-top: 35px;
      padding: 25px 0 0 0;
      gap: 25px;
      display: flex;
      flex-direction: column;
      &__image {
        position: relative;
        & img {
          width: 100%;
        }
        &__controls {
          position: absolute;
          display: flex;
          align-items: center;
          gap: 55px;
          left: 0;
          bottom: 0;
          padding: 13px 20px;
          background-color: #181818;
          &-count {
            color: #ffffff;
            font-family: "Orbitron", sans-serif;
          }

          &__arrows {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            &-left {
              img {
                transform: rotate(180deg);
                border: 2px solid white;
                padding: 15px 10px;
                transition: 0.2s;
                width: 15px;
                height: 6px;
                &:hover {
                  background-color: #5f5f5f;
                  border: 2px solid #5f5f5f;
                }
              }
            }
            &-right {
              img {
                border: 2px solid white;
                padding: 15px 10px;
                transition: 0.2s;
                width: 15px;
                height: 6px;
                &:hover {
                  background-color: #5f5f5f;
                  border: 2px solid #5f5f5f;
                }
              }
            }
          }
        }
      }

      &__desc {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        padding: 45px 0;
        border-top: 4px solid white;

        &-title {
          max-width: 644px;
          position: relative;

          &-tit {
            font-weight: 900;
            color: #ffffff;
            font-family: "Orbitron";
            font-size: 70px;
            line-height: 87px;
            position: relative;
            z-index: 1;
          }

          &-around {
            position: absolute;
            width: 134px;
            aspect-ratio: 1;
            background-image: linear-gradient(
              to top right,
              #ca3ec5e4,
              #ea5198,
              #f2a829
            );
            border-radius: 50%;
            left: 0px;
            top: 41%;
            transform: translateY(-50%);
          }
        }

        &-more {
          max-width: 530px;
          display: flex;
          flex-direction: column;
          gap: 72px;
          & p {
            font-size: 16px;
            color: #aaaaaa;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            line-height: 21px;
            text-align: justify;
          }
          &-btnWrap {
            display: flex;
            align-items: center;
            gap: 15px;
            cursor: pointer;

            &-text {
              color: white;
              font-family: Roboto;
              font-size: 16px;
              font-weight: 900;
              letter-spacing: 0.1em;
              text-align: left;
            }

            &-iconWrap {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              border: 2px solid white;
            }
          }
        }
      }
    }
  }
}
